body {
  font-family: 'Glegoo', serif;
  background: -webkit-linear-gradient(#ffffff, #fffcc1, #ffe8a0);
  background: -o-linear-gradient(#ffffff, #fffcc1, #ffe8a0);
  background: linear-gradient(#ffffff, #fffcc1, #ffe8a0); }

hr {
  width: 100px;
  background: #67676d; }

/*navigation*/
.nav-link {
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.8s 0.2s; }

.intro {
  width: 100%;
  padding: 0;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .intro .intro-text {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 300px; }
    @media only screen and (max-width: 768px) {
      .intro .intro-text {
        padding-bottom: 550px; } }
  .intro #sub-title {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    font-size: 2.3em;
    text-shadow: 0px 1px 5px #999999;
    color: white;
    position: absolute;
    margin-right: 0;
    padding-right: 0;
    top: 80%; }
    @media only screen and (max-width: 768px) {
      .intro #sub-title {
        top: 40%;
        font-size: 2em; } }

/*about me*/
#about-me {
  background-color: #faedeb;
  padding: 80px 0; }
  #about-me .thumbnail {
    padding-top: 20px;
    margin-top: 0px; }
  #about-me .img-thumbnail {
    float: right; }
    @media only screen and (max-width: 768px) {
      #about-me .img-thumbnail {
        float: none;
        margin: auto; } }
  @media only screen and (max-width: 768px) {
    #about-me .about-me-section {
      margin: auto; } }
  #about-me .summary {
    padding-top: 20px;
    margin-top: 0px; }

/*portfolio*/
#portfolio {
  width: 100%;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  #portfolio .portfolio-section {
    text-shadow: 0px 1px 5px #000000;
    padding-top: 80px;
    color: #FFFFFF; }
  #portfolio .port-height {
    padding-bottom: 80px; }
  #portfolio .work-img {
    width: 100%;
    height: auto;
    border: 2px solid #dfe4ea;
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
    @media only screen and (max-width: 768px) {
      #portfolio .work-img {
        padding: 15px;
        border: hidden; } }
  #portfolio .work-img:hover {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  #portfolio .overlay-text {
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 1px 5px #000000; }

/*skills*/
#skills {
  background-color: #faedeb;
  padding: 80px 0; }

/*contact*/
#contact-me {
  width: 100%;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  #contact-me #contact-font {
    text-shadow: 0px 1px 5px #000000;
    padding-top: 80px;
    color: #FFFFFF; }
  #contact-me a {
    color: #00d8d6;
    margin-right: 10px; }
    #contact-me a .fa-envelope:hover {
      color: #ffda79; }
    #contact-me a .fa-github:hover {
      color: #3d3d3d; }
    #contact-me a .fa-linkedin-square:hover {
      color: #0984e3; }
    #contact-me a:last-child {
      margin-right: 0; }
  #contact-me .resume-button {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 180px;
    background-color: transparent;
    border: 1px solid;
    padding: 18px 28px;
    font-family: 'Glegoo', serif;
    outline: none;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #contact-me .resume-button:hover {
    color: black;
    background-color: rgba(204, 217, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

/*footer*/
#footer {
  background-color: #222226;
  text-align: center;
  font-size: small;
  padding: 3px;
  color: #faedeb; }
  #footer .footer {
    margin: 3px; }

/* Turn off parallax scrolling for all tablets and phones. */
@media only screen and (max-device-width: 768px) {
  .intro {
    width: 100%;
    height: auto;
    padding: 0;
    background: -webkit-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/intro.jpg);
    background: -o-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/intro.jpg);
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/intro.jpg);
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; }
  #portfolio {
    width: 100%;
    background: -webkit-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/work2.jpg);
    background: -o-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/work2.jpg);
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/work2.jpg);
    height: auto;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; }
  #contact-me {
    width: 100%;
    background: -webkit-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    background: -o-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    height: 500px;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; } }
