#about-me .who-am-i, #about-me .where-ive-been, #about-me .what-i-hope {
  padding: 0 3%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  word-spacing: 3px;
  text-align: justify; }

/*-------------------------------*/
/* BASIC SETUP */
/*-------------------------------*/
body,
html {
  font-family: 'Glegoo', serif;
  background: linear-gradient(#ffffff, #fffcc1, #ffe8a0); }

hr {
  width: 100px;
  background: #67676d; }

*:focus {
  outline: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

/*-------------------------------*/
/* NAVIGATION */
/*-------------------------------*/
.nav-link {
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.8s 0.2s; }

.intro {
  width: 100%;
  padding: 0;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/intro.jpg);
  /* Photo by Rodion Kutsaev on Unsplash*/
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .intro .intro-text {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 300px; }
    @media only screen and (max-width: 768px) {
      .intro .intro-text {
        padding-bottom: 550px; } }
  .intro #sub-title {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    font-size: 2.3em;
    text-shadow: 0px 1px 5px #999999;
    color: white;
    position: absolute;
    margin-right: 0;
    padding-right: 0;
    top: 80%; }
    @media only screen and (max-width: 768px) {
      .intro #sub-title {
        top: 40%;
        font-size: 2em; } }

/*-------------------------------*/
/* ABOUT ME */
/*-------------------------------*/
#about-me {
  background-color: #faedeb;
  padding: 80px 0; }
  #about-me .thumbnail {
    padding-top: 20px;
    margin-top: 10px; }
  #about-me .img-thumbnail {
    float: right;
    border-radius: 50%; }
    @media only screen and (max-width: 768px) {
      #about-me .img-thumbnail {
        float: none;
        margin: auto; } }
  #about-me .who-am-i {
    margin: 20px 0 40px 0; }
    #about-me .who-am-i:before {
      content: 'Who I am';
      display: block;
      text-align: left;
      font-weight: 700;
      font-size: 23px;
      margin-bottom: 10px; }
    @media only screen and (max-width: 768px) {
      #about-me .who-am-i {
        margin: auto;
        text-align: center; }
        #about-me .who-am-i:before {
          text-align: center;
          margin-top: 30px; } }
  #about-me .where-ive-been {
    margin: 0 auto;
    border-right: 1px solid #887382; }
    #about-me .where-ive-been:before {
      content: "Where I've been";
      display: block;
      font-weight: 700;
      font-size: 23px;
      margin-top: 20px;
      margin-bottom: 10px; }
    @media only screen and (max-width: 768px) {
      #about-me .where-ive-been {
        border: 0; }
        #about-me .where-ive-been:before {
          text-align: center; } }
  #about-me .what-i-hope {
    margin: 0 auto; }
    #about-me .what-i-hope:before {
      content: "What I hope to do";
      display: block;
      font-weight: 700;
      font-size: 23px;
      margin-top: 20px;
      margin-bottom: 10px; }
    @media only screen and (max-width: 768px) {
      #about-me .what-i-hope:before {
        text-align: center; } }

/*-------------------------------*/
/* PORTFOLIO */
/*-------------------------------*/
#portfolio {
  width: 100%;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.5), rgba(168, 11, 89, 0.5)), url(../images/work2.jpg);
  /* Photo by ian dooley on Unsplash*/
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  #portfolio .portfolio-section {
    text-shadow: 0px 1px 5px #000000;
    padding-top: 80px;
    color: #FFFFFF; }
  #portfolio .port-height {
    padding-bottom: 80px; }
  #portfolio .work-img {
    /* padding: 3px;*/
    width: 100%;
    height: auto;
    border: 2px solid #dfe4ea;
    box-sizing: border-box;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    transition: all 0.3s; }
    @media only screen and (max-width: 768px) {
      #portfolio .work-img {
        padding: 15px;
        border: hidden; } }
  #portfolio .work-img:hover {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  #portfolio .overlay-text {
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 1px 5px #000000; }

/*-------------------------------*/
/* SKILLS */
/*-------------------------------*/
#skills {
  background-color: #faedeb;
  padding: 80px 0; }

#skills p {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 10px; }

/*-------------------------------*/
/* CONTACT */
/*-------------------------------*/
#contact-me {
  width: 100%;
  background: -webkit-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  background: -o-linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  background: linear-gradient(rgba(247, 135, 191, 0.3), rgba(168, 11, 89, 0.3)), url(../images/outro2.jpg);
  /* Photo by Jordan Whitt on Unsplash*/
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  #contact-me #contact-font {
    text-shadow: 0px 1px 5px #000000;
    padding-top: 80px;
    color: #FFFFFF; }
  #contact-me a {
    color: #ccccff;
    margin-right: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    #contact-me a .fa-envelope:hover {
      color: #ffda79;
      text-shadow: 2px 2px 3px #2f3542;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #contact-me a .fa-github:hover {
      color: #3d3d3d;
      text-shadow: 2px 2px 3px #2f3542;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #contact-me a .fa-linkedin-square:hover {
      color: #0077b5;
      text-shadow: 2px 2px 3px #2f3542;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #contact-me a:last-child {
      margin-right: 0; }
  #contact-me .resume-button {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 180px;
    background-color: transparent;
    border: 1px solid;
    padding: 18px 28px;
    ont-family: 'Lato', sans-serif;
    border-radius: 10px;
    outline: none;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #contact-me .resume-button:hover {
    color: black;
    background-color: rgba(204, 217, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

/*-------------------------------*/
/* FOOTER */
/*-------------------------------*/
#footer {
  background-color: #222226;
  text-align: center;
  font-size: small;
  padding: 3px;
  color: #faedeb; }
  #footer .footer {
    margin: 3px; }

/*-------------------------------*/
/* ANIMATIONS */
/*-------------------------------*/
.js--about-me,
.js--row-1,
.js--row-2,
.js--row-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--about-me .animated,
.js--row-1 .animated,
.js--row-2 .animated,
.js--row-2 .animated {
  opacity: 1; }

/* Turn off parallax scrolling for all tablets and phones. */
@media only screen and (max-device-width: 768px) {
  .intro {
    width: 100%;
    height: 100vh;
    padding: 0;
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/intro.jpg);
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; }
  #portfolio {
    width: 100%;
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/work2.jpg);
    height: auto;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; }
  #contact-me {
    width: 100%;
    background: -webkit-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    background: -o-linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    background: linear-gradient(rgba(247, 135, 191, 0.2), rgba(168, 11, 89, 0.2)), url(../images/outro2.jpg);
    height: 500px;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; } }
