// variables
$main-bg-color: #faedeb;
$text-shadow: 0px 1px 5px; 

// mixin
@mixin parallax-scrolling {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;	
	background-size: cover;
}

@mixin no-parallax {
	background-attachment: scroll !important;
	background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;	
	background-size: cover;	
}

@mixin transition($e) {
	-webkit-transition: $e;
	-moz-transition: $e;
	-ms-transition: $e;
	transition: $e;
}

// inheritance
%about-me-text {
	padding: 0 3%  ;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	word-spacing: 3px;
	text-align: justify;	
}
